body {
  margin: 0;
  padding: 0;
  background-color: paleturquoise;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
}
li:last-child {
  margin-right: 0px;
}
button {
  background-color: #3882f6;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 3px solid black;
}

.body-content {
  display: flex;
}

/* START OF LANDING PAGE */
#landing-page {
  background-color: #1f2937;
  flex-direction: column;
  padding: 200px;
  padding-top: 12px;
  padding-bottom:100px;

  .header {
    /* YOU CAN NEST???? LOL */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom:100px;

    .header-left {
      font-size: 24px;
      color: #f9faf8;
    }
    .header-right {
      font-size: 18px;
      color: #e5e7eb;
    }
  }

  .landing-content {
    display:flex;
    justify-content: space-between;
    flex:1;

    .landing-left {
      width: 35%;

      .heading {
        font-size: 48px;
        font-weight: 800;
        color: #f9faf8;
      }

      .subtext {
        font-size: 18px;
        color: #e5e7eb;
        padding-bottom:8px;
      }

      .sign-up {
        display:flex;
        font-weight:bold;
        width:20%;
        color:white;
        border: none;
        border-radius: 8px;
        padding: 8px;
        justify-content:center;
      }
    }
    .landing-right{
        display:flex;
        background-color: grey;
        width:30%;
        justify-content: center;
        align-items: center;
        padding: 100px;
    }
  }
}
/* END OF LANDING PAGE */

#informa-page {
  background-color: lightcoral;

  .header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
  }
}

#testimo-page {
  background-color: #e5e7eb;
  color: #1f2937;
}

#contact-page {
  background-color: seagreen;

  .contact-box {
    background-color: #3882f6;
  }
}

.footer {
  text-align: center;
  color: #e5e7eb;
  background-color: #1f2937;
}
